{% extends "base.njk" %}

{% block content %}

    <section class="site-project-single-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="site-project-single">
              <h1>
                {{title}}
              </h1>
              <div class="site-project-single-image">
                <img src="{{featureImg1}}" >
                <img src="{{featureImg2}}" >
              </div>
              <div align = "left">
              {% if audio %}
              <audio controls="controls">
              <source src="{{audio}}" type="audio/mp3">
              Your browser does not support the HTML5 Audio element.
              </audio>
              {% endif %}
              </div>
              <div class="site-project-single-description">
                {{content | safe}}
              </div>
              {% if collections.episodes %}
              {% set nextPost = collections.episodes | getNextCollectionItem(page) %}
              {% set previousPost = collections.episodes | getPreviousCollectionItem(page) %}
              
              <div class="site-project-single-action d-flex justify-content-between">
                {% if previousPost%}
                <a href="{{previousPost.url}}">
                  <img class="rev" src="/assets/images/to-top.svg" alt="next project">
                  <span class="link-area">
                    <span data-text="{{previousPost.data.title}}">
                      Previous Episode
                    </span>
                  </span>
                </a>
                {% endif %}
                {% if nextPost %}
                <a href="{{nextPost.url}}">
                  <span class="link-area">
                    <span data-text="{{nextPost.data.title}}">
                      Next Episode
                    </span>
                  </span>
                  <img src="/assets/images/to-top.svg" alt="next project">
                </a> 
                {% endif %} 
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
  
{% endblock %}