{% extends "base.njk" %}
{% block content %}
    <section class="site-blog-header">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h1>{{title}}</h1>
            <p>
              {{des}}
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="site-blog">
      <div class="container">
        <div class="row">
          {% for question in collections.curiousExplorer | reverse %}
          <div class="col-lg-6">
            <article class="site-blog-post">
              <div class="site-blog-post-content">
                <span>{{question.data.postDate}}</span>
                <h4><a href="{{question.data.page.url}}">{{question.data.title}}</a></h4>
                <h5>Asked By: {{question.data.askedBy}}</h5>
                <p>
                  {{question.data.des}}
                </p>
                <h5>Answered by: {{question.data.author}}</h5>
              <h5>Tags:</h5>
              {% for tag in question.data.tags %}
                {% if tag !== 'curiousExplorer' or '' %}
                <a href = "/{{tag}}">
                  <span class="button tag-button">
                  {{ tag }}
                  </span>
                </a>
                {% endif %}
              {%- endfor %}
              </div>
            </article>
          </div>
          {% endfor %}
          <div class="col-12">
            <div class="site-blog-pagination">
              <nav>
                <ul class="pagination">
                  {% if pagination.href.previous %}
                    <li class="page-item"><a class="page-link" href="{{pagination.href.previous}}">Previous</a></li>
                  {% endif %}
                  {% for pageEntry in pagination.hrefs %}
                    <li {% if page.url == pageEntry %}
                            class='page-item active'
                        {% else %}
                            class='page-item'
                        {% endif %}>
                    <a class="page-link" href="{{ pageEntry }}">{{ loop.index }}</a>
                    </li>
                  {% endfor %}
                  {% if pagination.href.next %}
                    <li class="page-item"><a class="page-link" href="{{pagination.href.next}}">Next</a></li>                        
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
  
{% endblock %}